#root {
  text-align: center;
  margin: 0 auto;
}

.card-container {
  display: flex;
  width: 100vw;
  max-width: 2500px;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
  flex-wrap: wrap;
}

.card-container h1 {
  font-size: 1rem;
}

.movie-card {
  border: 1px solid white;
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-card button {
  background-color: darkgray;
}

.fav {
  margin-top: 50px;
  height: 100px;
  width: 100px;
  font-size: 50px;
}

.sign-up-box,
.log-in-box {
  height: 40px;
}

.create-account,
.log-in {
  width: 150px;
  padding: 10px 0 10px 0;
}

.user-name,
.password,
.user-login,
.movie-title-input {
  height: 70%;
}
